body {
    font-family: Arial, sans-serif;
    background-color: #f9f5f2;
    margin: 0;
    padding: 0;
    color: #544e3f;
}

li::marker {
    color: #884a3b;
    font-weight: bold;
}

.container {
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.photo {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.recipe {
    padding: 30px;
}

.recipe h1 {
    margin-top: 0px;
}

.recipe h2 {
    color: #884a3b;
}

.time,
.ingredients,
.instructions,
.nutrition {
    margin-bottom: 30px;
}

.time {
    justify-content: space-between;
    align-items: center;
    background-color: #fff7fc;
    border-radius: 5px;
    padding: 10px 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
  
.time ul {
    list-style-type: disc;
}

.time li {
    font-size: 16px;
    margin-bottom: 8px;
}

.instructions ol {
    list-style-type: decimal;
}

.instructions li {
    margin-bottom: 10px;
}

ul,
ol {
    margin-top: 0;
    padding-left: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table td {
    padding: 8px 0;
    border-bottom: 1px solid #ddd;
}

table td:first-child {
    padding-left: 32px;
    width: 60%;
}

table td:last-child {
    color: #8a685d;
    font-weight: bold;
    width: 60%;
}

.contribution {
    font-size: 11px;
    text-align: center;
}

.contribution a {
    color: hsl(228, 45%, 44%);
}